{% if authenticated %}
    {% include "sayings:templates/partials/application/top_navigation/top_navigation_frontpage.jinja2" %}
{% else %}
    {% include "sayings:templates/partials/application/top_navigation/top_navigation_except_frontpage.jinja2" %}
{% endif %}